
/***********/
/* GENERAL */
/***********/

  HTML, BODY {
    font-family: 'Raleway', sans-serif;
    min-width:345px;
  }
  LI.nav-item.active A.nav-link, LI.nav-item A, .signup H3, .signup P, .contact H1, .contact P,  .tags A SPAN:hover { color:#FFFFFF!important;}
  A { outline:none; }

  A.nav-link, .btn-outline-secundary, A.menu_login_alt, .subfooter UL LI A, H1,.sales A, .tags A, blockquote SPAN  {
    color: #31313F; /* close to black */
  }
  .btn-outline-primary:hover, .btn-outline-primary:active, A.menu_login:hover, A.menu_login:active { background:#31313F; }
  .btn-outline-primary:hover, .btn-outline-primary:active, A.menu_login:hover, A.menu_login:active { border-color:#31313F; }

  .callout SPAN, A.readmore, A.back, .blue, .readmore, blockquote {
    color:#1E84D8!important; // blue
  }
  .signup, .support_icon,.contact, .tags A SPAN:hover, .navbar, NAV.bg-light { background-color:#3180D8!important; } // darkblue
   { color:#3180D8!important;}

  .callout, .callout A, .footer A {
    color: #646472 // text-grey
  }

  .dark-bg { background: #333B4C; }

  /* RED/ORANGE */
  .followup A {
    color:#EE5E4B; // red-orange
  }
  .btn-outline-primary, A.menu_login { background:#EE5E4B;}
  .btn-outline-primary { border-color:#EE5E4B;}

  /* Light GREY */
  .footer, .callout, .one-block .tags SPAN, .usecase .intro, .greyer, .followup, .support, .one-block  .visual,  .tags SPAN, .followup_case, .localUSP { background-color:#F0F0F0; }
  /* Lighter GREY */
  .grey { background-color: #FAFAFA;}


  /* Border radius */
  .roundedBorders,  .tags SPAN {
      -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
   }

/*  DOCUMENTS Open Icon for icons: https://useiconic.com/open/   */

/***********/
/* CALLOUT */
/***********/

.callout { font-size:90%;padding:10px 0 10px 0; }
  .callout UL, .callout LI { margin:0;padding:0;list-style:none;float:left; }
  .callout LI { padding-right:40px; }
  .callout A { color:#333;text-decoration:none;}
  .callout SPAN { text-decoration:underline; }
  .callout .icon { margin-right:3px;width: 13px;height: 13px; }

.homepage { min-height:500px;background:url(../content/homepage-dark-bg.png) bottom center no-repeat;background-size:cover; }
.homepage.introduction H1, .homepage.introduction P { color:#FFF!important; }
.homepage INPUT[type=text] { font-weight:500;}


 /***********/
 /* HEADER */
 /***********/

 .btn-outline-primary, .support_icon, .screenshots IMG, .localUSP  { -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
 -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
 box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);}
   .navbar { background:#FFFFFF!important;-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
 -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
 box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);}
   .navbar UL, .navbar LI, .navbar LI { margin:0;padding:0; }
   .navbar-brand IMG { padding:15px 0; max-width:150px;}
   .subfooter .navbar-brand IMG { padding:15px 0 0 0 ; max-width:150px;}
   .navbar-nav { margin-left:20px }
   @media (min-width: 992px) {
   UL.navbar-nav { margin-left:50px;}
   .navbar .btn-outline-secundary { display:none; }
   }

   .nav-item.active, .nav-item:hover { font-weight:500;border-bottom:2px solid #FFFFFF; }
   .navbar-nav LI { font-weight:500; margin: 0; border-bottom:3px solid #3180D8;}
   @media (min-width: 992px) {
     .navbar-nav LI { margin: 0 15px; }
   }
   @media (max-width: 992px) {
     .navbar-collapse { margin-top:15px; }
   }

   .btn-outline-secundary { font-size:90%; }
   .btn-outline-primary { color:#FFFFFF;font-weight:bold;padding-left:15px;padding-right:15px;}

 LI.menu_login {margin:20px 0 10px 0;}
   A.menu_login { color:#FFFFFF;font-weight:500;border-radius:4px;border:none!important;padding:10px 20px;}
   A.menu_login_alt { margin-left:20px}



/***********/
/* CONTACT */
/***********/

.contact { min-height:325px;background:url(../img/signup_bg.png) bottom center no-repeat; }
.contact H1 { padding:60px 0 0px 0;font-weight:400;font-size:190%;}
.contact H1 span {font-weight:500;}
.contact_sales, .support { margin:50px 0 40px 0; }
.sales { padding-top:50px;padding-bottom:50px;}
.sales H4  {line-height:160%;font-size:130%}
.headquarters .col { padding:30px 0 10px 0;}
.support .col { padding:30px 0;}

.support h4 { margin-bottom:20px;}
.support_methods { margin-bottom:20px; }
.support_block { margin:20px 0 40px 0;background:#FFFFFF;padding:50px 20px;}

.support_icon { width:60px;height:60px;position:absolute;border-radius:30px;top:-10px;left:50%;margin-left:-30px }
.support_icon IMG { display: block;padding-top:25%;
 margin-left: auto;
 margin-right: auto;
 width: 50%; }


 .localContact H4 { padding-bottom:20px; }
 @media (max-width: 992px) { .support .support_block {margin-bottom:50px; }
   .localContact { margin-bottom:30px; }
 }


 /**************/
 /* CUSTOMERS  */
 /**************/

 H1 {font-weight:400;text-align:center;font-size:190%;padding:60px 0 40px 0; }
 DIV.single-card { margin-bottom:30px;}
 .blocks .one-block {border:1px solid #EFEFEF;border-radius:4px;-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);height:100%;-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);}
 .one-block .tags, .one-block h2.title, .one-block p.intro { margin:0;padding:15px 10px;}

.one-block A, .one-block A:hover, .one-block A:active { color:#000;text-decoration:none;}
.one-block .tags { line-height:25px;}
.one-block .tags SPAN {border-radius:4px;padding:4px 8px;margin-right:10px;font-size:80%;}
.one-block h2.title { font-size:160%; }
.one-block A:hover H2 { text-decoration:underline; }
.one-block p.intro { font-size:90%;}
.one-block { padding-bottom:50px;}
.one-block .read-more { position:absolute;bottom:0; }
.readmore { padding:10px;margin-bottom:30px;font-size:90%; }
.readmore:hover { text-decoration:underline; }


/* CLIENTS */
.client { height:110px;background-size:100%; background-position:top center;background-repeat:no-repeat; }
.clients { padding:50px 0 40px 0;}
@media (max-width: 692px) { .client { background-size:98%; } }
@media (max-width: 576px) { .client { background-size:85%; } }

.rikstv { background-image:url(../clients/task-analytics_rikstv.png); }
.kpmg { background-image:url(../clients/task-analytics_kpmg.png); }
.cisco { background-image:url(../clients/task-analytics_cisco.png); }
.transdev { background-image:url(../clients/task-analytics_transdev.png); }
.onecall { background-image:url(../clients/task-analytics_onecall.png); }
.eika { background-image:url(../clients/task-analytics_eika.png); }
.telia { background-image:url(../clients/task-analytics_telia.png); }
.vipps { background-image:url(../clients/task-analytics_vipps.png); }
.hafslund { background-image:url(../clients/task-analytics_hafslund.png); }
.aneventapart { background-image:url(../clients/task-analytics_aneventapart.png); }
.gjensidige { background-image:url(../clients/task-analytics_gjensidige.png); }
.helsenorge { background-image:url(../clients/task-analytics_helsenorge.png); }



/*****************/
/* homepage      */
/*****************/

.localUSP { background:#EFEFEF;padding:20px 20px 60px 20px;margin-bottom:20px;border-radius:10px; font-size:100%;font-weight:400;}
.localUSP P {  font-size:95%;width:90%;margin:0 auto;font-weight:400;color:#333; }
.localUSP .single-card { position:relative;}
.localUSP .read-more { margin:0 auto;width:auto;padding:0;left:0;bottom:20px;
right:0;margin-left:auto;margin-right:auto;}
.localUSPlink { font-weight:700;color:#000; }
.localUSP .usp-image { max-width:55px;padding:20px 0 50px 0;}
@media (max-width: 992px) {
  .localUSP { margin:15px; }
}


/*****************/
/* INTEGRATIONS  */
/*****************/

.integratios H1 { margin:20px 0;padding:20px 0;}
.integrations H4 { font-size:140%;padding:0px 0;margin-bottom:50px;}

.integration H1 { padding-top:20px;}
.integration { margin-top:50px;}
.followup { padding-bottom:20px;}
.integration .followup p {line-height:180%;}
.integration_logo IMG { height:180px; }
.integration .focusElement IMG { width:100%; }

.focusElement { padding:40px 0;}
.focusElement .text-left, .focusElement .text-right { margin-top:40px; }
  @media (max-width: 576px) { .focusElement IMG { width:100%; } }

.focusElement H3 { font-size:150%;padding-bottom:0px;}
.focusElement H6 { font-size:90%;padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #DADADA;}
.focusElement P {font-size:100%; }

.readmore { margin-bottom:30px;}

/*************/
/* USE CASE  */
/*************/
.intro { padding:5% 10%;}
.usecase { margin-top:50px;}
.usecase H1 { padding-bottom:10px;margin:0 15%;}
.usecase H3 { padding:30px 0 15px 0;}
blockquote { line-height:140%;font-weight:500;}
blockquote SPAN { font-size:60%;font-style:italic; }
.greyer { margin:40px 0;padding:40px 0;}
.download_usecase { padding:20px 0;}
.followup_container { margin-top:20px;margin-bottom:20px;}

.followup h4 { margin-top:20px;padding:20px 20px 0 20px;;font-size:115%;font-weight:500;}
.followup p, .followup ul { padding:20px;padding-bottom:0;}
.followup UL, UL.stars { width:80%;list-style:none;list-style-image: url('../content/list-style-star-blue.png');}
.followup LI, UL.stars LI { padding-bottom:20px;margin-left:40px;}


@media (max-width: 576px) {
  .followup UL, UL.stars { width:95%; }
    .followup LI, UL.stars LI {margin-left:10px; }
}

.followup_case { padding:20px;}
.screenshots IMG { width:100%;border:1px solid #EFEFEF }
.image_figure { font-size:80%;font-style:italic;padding:10px 0; }


.homepage_usps { color:#FFF;margin-top:20px;width:80%;list-style:none;list-style-image: url('../content/list-style-checkbox.png');}
.homepage_usps LI { padding-bottom:18px;font-size:95%;}
.carousel-control-next, .carousel-control-prev { color:#333!important; }
@media (max-width: 576px) {
  .homepage_usps { padding-top:60px; }
}

  /*****************/
  /* FEATURES  */
  /*****************/

.features H1 {  font-weight:400;text-align:center;font-size:190%;padding:60px 0 40px 0; }
.features H3 { font-size:140%; }
 .tags { margin:40px 0;line-height:200%;}

 .tags SPAN { display:inline-block; margin:5px; padding:5px 15px;font-weight:500;}


.nolis { list-style:none;margin:20px 0;padding:0px 0;}
.nolis LI {padding:5px 0;}



  .nolis .featurelist  { padding:20px;}
  .usplist { background:#EFEFEF;border-radius:5px;padding:20px 40px 20px 20px;margin-bottom:15px;}
  .usplist IMG { max-width:45px;margin-bottom:10px;}
  .usplist H5 { padding:10px 0 15px 0; }


 /***********/
 /* SIGNUP  */
 /***********/
  .signup { margin:50px 0 0 0;background: url(../img/signup_bg.png) bottom center;min-height:275px; }
  .signup H3 { padding:70px 0 0px 0;font-weight:400;}
  .signup H3 span {font-weight:500;}
  .signup P { font-size:90%;}



 /***********/
 /* FOOTER */
 /***********/

 .subfooter { margin-top:50px;background: url(../img/subfooter_bg.png) top center no-repeat; }
 .subfooter UL { List-style:none;padding:0;margin:20px 0 20px 0;}
 .subfooter UL LI A { font-size:90%;}
 .footer-slogan { font-size:90%;}
 .footer-logo { padding-bottom:40px;}
.footer .footer-copyright { margin-top:12px; }

.gdpr { width:100%;max-width:120px;margin:30px 0 10px 0;clear:both; }

  @media (min-width: 769px) { .footer .footer-copyright { margin-top:0px;text-align:right; } }
 @media (max-width: 768px) { .footer .row { text-align:center; } }

 .footer { padding:20px 0;font-size:80%;}
 .footer A { color:#333333;}
 .footer .footer-links A { margin-right:15px;}
